###########################################################
# Global config
###########################################################


#Global black- and whitelists

use-class-blacklist=true
class-blacklist=class-blacklist.txt
#use-class-whitelist=false
#class-whitelist=config/class-whitelist.txt

use-method-whitelist=false
#method-whitelist=method-whitelist.txt
#use-method-blacklist=false
#method-blacklist=config/method-blacklist.txt

# black-/whitelist for method called when analyzing the opcodes
#use-method-call-blacklist=false
#method-call-blacklist=config/method-call-blacklist.txt
use-method-call-whitelist=false
#method-call-whitelist=method-call-whitelist.txt

# if true: if an opcode is used more than once, or a method is called more than once, the action is only added the first time
save-unique-data-only=false

###########################################################
# Dex code settings
#

logArrayStmt = true
logBinopLitXStmt = true
logBinopStmt = true
logClassStmt = true
logCmpStmt = true
logConstStmt = true
logFieldStmt = true
logFillArrayStmt = true
logFilledNewArrayStmt = true
logJumpStmt = true
logLookupSwitchStmt = true
logMethodStmt = true
logMonitorStmt = true
logMoveStmt = true
logReturnStmt = true
logTableSwitchStmt = true
logUnopStmt = true
logTryCatchStmt = true
logVisitArguments = true
logVisitLabel = true
logVisitLineNumber = true
logVisitLocalVariable = true

# log permissions needed by the method
logMethodPermissions = true

###########################################################
#Permission map

permission-map-api-calls-file=permissionmap/APICalls.txt


###########################################################
# Analysis specific settings
#
# XSL used to convert XML to HTML
analysis-results-xsl=analysis/analysis-results.xsl


